<nav class ="nav">
    <div class="container nav__container">
       <span> Star Wars </span>       
        <ul class="nav__menu">
          <li >
            <a  class="btn btn--nav"  [routerLink]="['/home']">People</a>
          </li>
          <li >
            <a  class="btn btn--nav" [routerLink]="['/planets']">Planets</a>
          </li>
          <li >
            <a  class="btn btn--nav" [routerLink]="['/films']">Films</a>
          </li>
          <li >
            <a  class="btn btn--nav" [routerLink]="['/species']">Species</a>
          </li>
          <li >
            <a  class="btn btn--nav" [routerLink]="['/vehicles']">Vehicles</a>
          </li>
          <li >
            <a  class="btn btn--nav" [routerLink]="['/starships']"
              >Starships</a
            >
          </li>
        </ul>
      
    </div>
  </nav>

<div>
  <router-outlet></router-outlet>
</div>
