<section class="section-ressource-list">
  <div class="u-center-text u-margin-bottom">
    <h1>people list</h1>
  </div>

  <ng-container *ngIf="people$ | async as people">
    <div class="ressource__list">
      <div *ngFor="let person of people.results" class="ressource--card">
        <div class="ressource--card__picture ressource--card__picture--1">&nbsp;</div>
        <h4 class="ressource--card__heading">
          {{ person.name }}
        </h4>

        <div class="ressource--card__details">
          <ul>
            <li><span>name </span> <span>{{ person.name }} </span></li>
            <li><span>height </span> <span>{{ person.height }} </span></li>
            <li><span>mass </span> <span>{{ person.mass }} </span></li>
            <li><span>hair color </span> <span>{{ person.hair_color }} </span></li>
            <li><span>skin color </span> <span>{{ person.skin_color }} </span></li>
            <li><span>eye color </span> <span>{{ person.eye_color }} </span></li>
            <li><span>birth year </span> <span>{{ person.birth_year }} </span></li>
            <li><span>gender </span> <span>{{ person.gender }} </span></li>
            <li><span>planet </span> <span> <a href="javascript:void(0)" (click)="toPlanet(person.homeworld)"
              >See Deatails</a> </span></li>
              <li>
                <div *ngFor="let film of person.films">
                <p></p>
                </div>
                
              </li>
          </ul>

          <a href="#" class="btn btn-text">
            See All Details &rarr;
          </a>
          <!--  <p>
            {{ person.name }}
            <a href="javascript:void(0)" (click)="toPlanet(person.homeworld)"
              >Homeworld</a
            >
          </p> -->
        </div>
      </div>
    </div>
    <div class="ressource__list--button-box">
      <a
        *ngIf="people.previous; else hide"
        (click)="loadPeople(people.previous)"
        class="btn btn--green item item-left"
      >
        &larr;PREVIOUS
      </a>
      <ng-template #hide>
        <p class="u-hide-item">
          It's Not Done!
        </p>
      </ng-template>
      <a
        *ngIf="people.next"
        (click)="loadPeople(people.next)"
        class="btn btn--green item item-right"
      >
        NEXT &rarr;
      </a>
    </div>
  </ng-container>
</section>
