.ressource--card {
  border-radius: 20px 25px 0 0;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  max-height: 45rem;
  overflow: scroll;
  background-color: $color-white;
  width: 100%;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
  transition: all 0.2s;

  &:hover {
    transform: scale(1.1);
  }

  &__picture {
    background-image: cover;
    height: 20rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    background-image: linear-gradient(
        to right bottom,
        $color-yellow-light,
        $color-yellow-dark
      ),
      url(../../img/nat-7.jpg);
  }

  &__heading {
    font-size: 2rem;
    font-weight: 200;
    text-transform: uppercase;
    text-align: right;
    color: $color-white;
    position: absolute;
    top: 8rem;
    width: 75%;
    text-align: center;

    padding: 2rem 3rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    background-image: linear-gradient(
      to right bottom,
      rgba($color-yellow-dark, 0.85),
      rgba($color-yellow-dark, 0.85)
    );
  }

  &__details {
    padding: 2rem;

    ul {
      list-style: none;
      width: 85%;
      margin: 0 auto;

      li {
        display: flex;
        justify-content: space-between;
        align-items: left;
        font-size: 1.3rem;
        padding: 0.5rem;

        &:not(:last-child) {
          border-bottom: 2px solid$color-grey-light-2;
        }
      }
    }
  }
}
