/* You can add global styles to this file, and also import other style files */

*,
+::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
// COLORS
$color-primary: #7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-1: #999;
$color-grey-dark-2: #333;

$color-white: #fff;
$color-black: #000;

//FONT
$default-font-size: 1.2rem;


html {
    font-size: 62.5%;  
}

body {
    padding: 2rem 5rem;
  
}

.header {
    background-color: red;
    height: 40vh;
    
    background-image:  /* linear-gradient(
        to right bottom,
        rgba($color-tertiary-light, 0.8),
        rgba($color-tertiary-dark, 0.8)
      ),  */
      url("app/img/star_wars.png");

     
      background-position: top;
      position: relative;

}

.footer{
    background-color: black;
    height: 50vh;
    margin: auto;

}