<section class="section-ressource-list">
  
  <ng-container *ngIf="planet2$ | async as planet2">

    <div class="u-center-text u-margin-bottom">
      <h1>planet {{planet2.name}}</h1>
    </div>
    {{planet2.name}}
  </ng-container>
  <ng-container *ngIf="planet$ | async as planet">
    <div class="u-center-text u-margin-bottom">
      <h1>planet list</h1>
    </div>
    
    <div class="ressource__list">
      <div *ngFor="let planet of planet.results" class="ressource--card">
        <div class="ressource--card__picture ressource--card__picture--1">&nbsp;</div>
        <h4 class="ressource--card__heading">
          {{ planet.name }}
        </h4>

        <div class="ressource--card__details">
          <ul>
            <li><span>Name</span>  <span> {{ planet.name }}</span></li>
            <li><span>rotation period</span>  <span>{{ planet.rotation_period }}</span> </li>
            <li><span>orbital period</span> <span>{{ planet.orbital_period }}</span></li>
            <li><span>diameter</span>  <span>{{ planet.diameter }}</span></li>
            <li><span>residents</span>  <span>{{ planet.residents }}</span></li>
          </ul>

          <a href="#" class="btn btn-text">
            See All Details &rarr;
          </a>
          <!--  <p>
              {{ person.name }}
              <a href="javascript:void(0)" (click)="toPlanet(person.homeworld)"
                >Homeworld</a
              >
            </p> -->
        </div>
      </div>
    </div>
    <div class="ressource__list--button-box">
      <a
        *ngIf="planet.previous; else hide"
        (click)="loadPlanet(planet.previous)"
        class="btn btn--green item item-left"
      >
        &larr;PREVIOUS
      </a>
      <ng-template #hide>
        <p class="u-hide-item">
          It's Not Done!
        </p>
      </ng-template>
      <a
        *ngIf="planet.next"
        (click)="loadPlanet(planet.next)"
        class="btn btn--green item item-right"
      >
        NEXT &rarr;
      </a>
    </div>
  </ng-container>
</section>
